@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Tailwind utility for smooth infinite scrolling */
.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}

body {
  overflow-x: hidden;
}
.text-shadow-glow {
  text-shadow: 0 0 8px #22c55e, 0 0 12px #22c55e, 0 0 20px #22c55e;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
@font-face {
  font-family: "Sufrimeda";
  src: url("/public/sufrimeda.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
